data/
mlruns/
.git/
.gitignore
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
reports/
notebooks/
docs/
flows/
livraison/
*.ipynb
*.md
Makefile
tests/
monitoring/
.pre-commit-config.yaml
